<!DOCTYPE html>
<html lang="en">
<head>
	<title>Item Catalog Application</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="751471173816-bs6nb8u98bpav31kfivnus3sbpu2uagd.apps.googleusercontent.com">

	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/toastr.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/sweetalert.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/toastr.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
	<script src="https://use.fontawesome.com/767f3f999a.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" 
					data-toggle="collapse" data-target="#" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="{{ url_for('catalog') }}" class="navbar-brand header-brand">Concert Video Catalog</a>
		</div>
		<div class="collapse navbar-collapse">
			<div class="navbar-form navbar-right">
				{% if 'name' not in session %}
					<a href="{{ url_for('login') }}" class="btn btn-primary login">
						Login
					</a>
				{% else %}
					<div class="profile-container">
						<div class="profile-image">
							<img src="{{ session['picture'] }}" alt="Profile Image">
						</div>
						<div class="profile-name">
							{{ session['name'] }}
						</div>
						<a href="{{ url_for('logout') }}" class="btn btn-danger logout">
							Logout
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</nav>
<div class="container">
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
</div>

{% block js %}
{% endblock %}

<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
	// TOASTR DEFAULTS
	toastr.options = {
		'positionClass': 'toast-top-center',
		'timeOut': '5000'
	};
	
	$(function() {

		//
		// FLASH MESSAGES (SHOW WITH TOASTR)
		//
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					console.log("MESSAGE: {{ message }}");
					toastr['{{ category }}']("{{ message }}");
				{% endfor %}
			{% endif %}
		{% endwith %}


		// LOGOUT
		$('.logout').click(function(e) {
			e.preventDefault();

			var href = $(this).attr('href');
			location.href = href;
			return;

			var auth2 = gapi.auth2.getAuthInstance();

			auth2.signOut().then(function() {
				// DISCONNECT FROM GOOGLE AND END SESSION
				location.href = href;
			});
		});
	});

	function onSignIn(googleUser) {
		// GET USER'S ID TOKEN
		var id_token = googleUser.getAuthResponse().id_token;

		// SEND TOKEN VIA AJAX TO SERVER
		$.ajax({
			type: 'POST',
			url: '/google',
			data: {'token': id_token, 'state': '{{ state }}'},
			success: function(result) {
				location.href = '/';
			}
		});
	}
</script>
</body>
</html>
